.information{
    background-color: #def3fd;
    color: #00356f;
}

.future_work, .current_work{
    background-color: #f0defd;
    color: #a96239;
}

.disrupted{
    background-color: #fcf7de;
    color: #b28704;
}

.interupted{
    background-color: #fddfdf;
    color: #9e1521;
}