img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
	
	height: auto;
	max-width: 100%;
}
body {
      position: fixed;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .stretch {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
      overflow: hidden;
    }
    #crawl-container {
      perspective: calc(100vh * 0.4);
    }
    #crawl {
      color: #f5c91c;
      position: absolute;
      width: 110%;
      left: -5%;
      bottom: -5%;
      height: 200%;
      overflow: hidden;

      transform: rotate3d(1, 0, 0, 45deg);
      transform-origin: 50% 100%;

      mask-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.66),
        rgba(0, 0, 0, 1)
      );

      -webkit-mask-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.66),
        rgba(0, 0, 0, 1)
      );
    }

    #crawl-content {
      font-family: "Roboto";
      font-size: calc(100vw * 0.074);
      letter-spacing: 0.09em;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
    }

    #crawl p {
      text-align: justify;
      width: 100%;
      margin: 0 0 1.25em 0;
      line-height: 1.25em;
    }

    #crawl h1 {
      font-size: 1em;
      margin: 0 0 0.3em 0;
    }

    #crawl h2 {
      font-size: 1.5em;
      margin: 0 0 0.7em 0;
    }

    #crawl h1,
    #crawl h2 {
      text-align: center;
    }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Starwars.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Starwars.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Starwars.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Starwars.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Starwars.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Starwars.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Starwars.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
	