.buttons{
  margin:20px 0;
}

.buttons button{
  border: none;
  color: #fff;
  padding: 0;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
  font-size: 0;
  vertical-align: top;
}

.buttons button[data-color="red"]{background: #c53b3b;}
.buttons button[data-color="blue"]{background: #285496;}
.buttons button[data-color="green"]{background: #2e7532;}
.buttons button[data-color="orange"]{background: #973900;}
.buttons button[data-color="black"]{background: #1c1c1c;}
.buttons button[data-color="grey"]{background: #e6e6e6;}

body {
	font-family: 'Lexend Deca', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, 'Helvetica Neue', sans-serif;
}

.station-1 {
	
}

.station-2 {
	
}

.station-3 {
	
}

.station-4 {
	
}

ul {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	height: 100%;
	
	white-space: nowrap;
}

li {
	display: flex;
	flex-direction: column;
	flex: 0 0 50px;
	margin-top: 135px;
	transform: rotate(-45deg);
}

li:first-child .svg-track-up {
	display: none;
}

li:last-of-type .svg-track-down {
	display: none;
}

svg {
	flex: 0 0 30px;
	width: 28px;
	height: 28px;
	overflow: visible;
	transform: rotate(45deg);
}

.svg-track-up,
.svg-track-down {
	fill: #C51E1E;
}

.svg-uturn {
	fill: #000;
}

.station-text {
	position: relative;
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
}

.station-text-1 {
	top: 28px;
	left: 35px;
	font-size: 20px;
	font-weight: 500;
}		
.station-text-2 {
	top: 28px;
	left: 32.5px;
	font-size: 20px;
	font-weight: 400;
}
.station-text-3,
.station-text-4 {
	top: 32px;
	left: 30px;
	font-size: 16px;
	font-weight: 300;
}

.svg-station-1 {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}
.svg-station-2 {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}
.svg-station-3 {
	fill: white;
	stroke: black;
	stroke-width: 1px;
	
}
.svg-station-4 {
	fill: black;
	stroke-width: 0px;
}