#nextBusTime span {
    background-color: #FFFFFFDD;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 10px
}

#nextBusTime span img {
    height:  30px;
    transform: translate(0, -35%);
}

.alert-warning {
    background-image: linear-gradient(195deg, #ea464355 0%, #ea464355 100%) !important;
}